# *** Creating the Database ***

# Import the dataframes:

In [1]:
import pandas as pd

In [12]:
#datasets obtained from: https://www.kaggle.com/prashant111/the-simpsons-dataset

In [18]:
df_episodes = pd.read_csv("DATA/simpsons_episodes.csv")

In [17]:
df_characters = pd.read_csv("DATA/simpsons_characters.csv")

In [20]:
df_scripts = pd.read_csv("DATA/simpsons_script_lines.csv")

# Establishing the connection with SQL:

In [2]:
import sqlalchemy as alch
import os
import dotenv

dotenv.load_dotenv()

passw = os.getenv("pass_sql")
dbName = "Simpsons"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost/Simpsons)

# We insert the episodes after cleaning special characters:

In [105]:
df_episodes["title"].replace("'", "`", regex=True, inplace=True)

In [108]:
df_episodes["title"].replace('"', '', regex=True, inplace=True)

In [123]:
for index, row in df_episodes.iterrows():
    engine.execute(f"INSERT INTO Episodes VALUES ({row['id']}, '{row['title']}', '{row['original_air_date']}', {row['season']})")

# ...and the same for 'Characters' and 'Scripts':

In [133]:
df_characters["name"].replace("'", "`", regex=True, inplace=True)

In [135]:
for index, row in df_characters.iterrows():
    engine.execute(f"INSERT INTO Characters VALUES ({row['id']}, '{row['name']}')")

In [137]:
df_scripts["spoken_words"].replace("'", "`", regex=True, inplace=True)

In [138]:
df_scripts["spoken_words"].replace('"', '', regex=True, inplace=True)

In [161]:
df_scripts["character_id"].replace('nan', 0, regex=True, inplace=True)

In [ ]:
df_scripts["character_id"]=df_scripts.character_id.apply(lambda x: int(x))

In [ ]:
df_scripts.drop(df_scripts[df_scripts.character_id.isna()].index, inplace=True)
df_scripts.drop(df_scripts[df_scripts.spoken_words.isna()].index, inplace=True)

In [ ]:
df_scripts["length"]=df_scripts.spoken_words.apply(len)

In [ ]:
for index, row in df_scripts.iterrows():
    try:
        engine.execute(f"INSERT INTO Quotes VALUES ({row['id']}, '{row['spoken_words']}', {row['character_id']}, {row['episode_id']})")
    except:
        pass

In [9]:
list(engine.execute("SELECT Quote FROM Quotes ORDER BY RAND() LIMIT 3;"))

[('Really? That`s wonderful. But how?',),
 ('No, I hope you get it.',),
 ('Later, when we wash his bike, I`m not gonna do a good job.',)]

In [16]:
a = list(engine.execute("""SELECT q.Quote, c.Name, e.Title, e.Seasons_idSeason
FROM Quotes as q

LEFT JOIN  Episodes as e
ON q.Episodes_idEpisode = e.idEpisode

LEFT JOIN  Characters as c
ON q.Characters_idCharacter = c.idCharacter

ORDER BY RAND() LIMIT 3;
"""))

In [17]:
a[0]

('One of those American robot cars.', 'Carl Carlson', 'Homer Loves Flanders', 5)

In [18]:
a[0][0]

'One of those American robot cars.'